* {
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Gilam', sans-serif;
    background-color: #161616;
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 1460px;
    color: #FFFFFF
}

.header {
    margin-top: 46px;
    margin-bottom: 120px; 
}

.call-link {
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    background: none;
    padding: 10px 25px;
    color: #E4B564;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    margin-bottom: 238px;
    margin-top: 120px;
}


.section {
    padding-bottom: 81px;
}

.section-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 41px;
}

.section-subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 41px;
    margin-top: 0;
}

.section-menu {
    grid-auto-rows: 468px;
    gap: 27px 25px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.section-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: auto/ span 2;
}

.section-menu-item-one {
    background: #634F2C;
}

.section-menu-item-two {
    background: #B4A385;
}

.section-menu-item-three {
    background: #E4B564;
}

.section-menu-item-four {
    background: #635A4A;
}

.section-menu-item-five {
    background: #B08C4D;
}

.section-menu-item-four {
    grid-column: auto/span 3;
}

.section-menu-item-five {
    grid-column: auto/span 3;
}

.section-menu-item-text {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
}

.engineering {
    padding-top: 81px;
    padding-bottom: 182px
}

.engineering-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 94px;
}

.engineering-item {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    gap: 30px 24px;
    justify-content: center;
    min-height: 897px;
    list-style-type: none;
}


.engineering-list-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    margin-top: 44px;
    margin-left: 52px;
    margin-bottom: 0;
}

.engineering-list-text span {
    font-weight: 700;
}

.engineering-item-list-one {
    grid-row: 1 / span 1;
}

.engineering-item-list-two {
    background: #242424;
    grid-row: 1 / span 2;
}

.engineering-item-list-three {
    grid-row: 1 /span 1;
}

.engineering-item-list-four {
    grid-row: 2/ span 3;
}

.engineering-item-list-five {
    background: #E4B564;
    color: #000000;
    grid-row: 3/ span 2;
}

.engineering-item-list-six {
    grid-row: 2 /span 2;
    background: #0E0E0E;

}

.engineering-item-list-seven {
    background: #0A0909;
    grid-row: 4 / span 1;
 padding-left: 48px;
 padding-top: 44px;
}

.engineering-item-list-one,
.engineering-item-list-two {
    background: #0E0E0E;
}

.engineering-item-list-three,
.engineering-item-list-four {
    background: #1F1F1F;
}

.lower {
    padding-top: 182px;
    background: #0E0E0E;
    padding-bottom: 239px;
}

.lower-header {
    margin-top: 0;
    margin-bottom: 61px;
}

.lower-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin: 0;
}

.lower-item {
   list-style-type: none; 
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 391px;

}

.button {
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    background: none;
    padding: 10px 25px;
    color: #E4B564;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;  
    width: 180px;
height: 50px;
margin-left: auto;
}

.lower-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lower-menu-one,
.lower-menu-six {
    background: #634F2C;
}

.lower-menu-two {
    background: rgba(232, 210, 171, 0.76);
}

.lower-menu-three {
    background: #E4B564;
}

.lower-menu-five {
    background: #B08C4D;
}

.lower-menu-four {
    background: #635A4A;
}

.lower-menu-item span {
    font-weight: 600;
}

.lower-menu-item {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    display: none;
    margin-bottom: 0;
    display: none;
    margin-top: 12px;
}

.lower-menu:hover .lower-menu-item {
    display: block;
}